*::-webkit-input-placeholder {
  color: #a6b3b0;
  opacity: 1;
}
*:-moz-placeholder {
  color: #a6b3b0;
  opacity: 1;
}
*::-moz-placeholder {
  color: #a6b3b0;
  opacity: 1;
}
*:-ms-input-placeholder {
  color: #a6b3b0;
  opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
}
body input:required:valid,
body textarea:required:valid {
}
body {
  font-family: "Geometria";
  font-size: 16px;
  overflow-x: hidden;
  color: #101b0d;
  margin: 0;
  background-color: #fff;
}
button {
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  font-weight: normal;
}
.wrapper {
  overflow: hidden;
}
a {
  text-decoration: none;
  outline: none;
}
* {
  outline: none !important;
}
ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style-type: none;
  outline: none;
}
img {
  outline: none;
  display: block;
}
p {
  padding: 0;
  margin: 0;
}
.header {
  padding-top: 15px;
  padding-bottom: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  border-bottom: 1px solid #d5e2eb;
}
.logo-wrap {
  display: flex;
  align-items: center;
}
.logo {
  display: inline-block;
}
.logo img {
  width: 142px;
  height: auto;
  display: block;
}
.logo-descr {
  font-size: 14px;
  line-height: 1.2;
  margin-left: 24px;
  max-width: 162px;
}
.contact-item {
  font-size: 14px;
  line-height: 21px;
}
.contact-item strong {
  display: block;
  font-weight: 500;
}
.header__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.phone-main {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 800;
  color: #101b0d;
  display: inline-block;
}
.link-page {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  border-bottom: 1px solid #264942;
  color: #264942;
  transition: all 0.3s;
  display: inline-block;
}
.link-page:hover {
  border-color: #264942;
}
.header__links {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.header__right {
  display: flex;
  align-items: center;
}
/*Style Sandwich*/
.btn_nav {
  margin-left: 23px;
  border: none;
  z-index: 60;
  display: inline-block;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  vertical-align: middle;
  position: relative;
}
.btn_nav:hover {
  opacity: 1;
}
.sandwich span {
  display: block;
}
.sandwich {
  width: 39px;
  height: 39px;
  padding-top: 9px;
  border-radius: 4px;
  margin: auto;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 20;
  cursor: pointer;
  background-color: #317265;
}
.sw-topper {
  position: relative;
  top: 4px;
  width: 18px;
  height: 2px;
  display: block;
  margin: 0 auto;
  background-color: #fefefe;
  border: medium none;
  transition: transform 0.5s, top 0.2s;
  /* transition-delay: 0.2s, 0s; */
}
.sw-bottom {
  position: relative;
  top: 8px;
  width: 18px;
  height: 2px;
  display: block;
  margin: 0 auto;
  background-color: #fefefe;
  border: medium none;
  transition: transform 0.5s, top 0.2s;
  transition-delay: 0.2s, 0s;
}
.sw-footer {
  position: relative;
  top: 12px;
  width: 18px;
  height: 2px;
  display: block;
  margin: 0 auto;
  background-color: #fefefe;
  border: medium none;
  transition: all 0.5s;
  transition-delay: 0.1s;
}
.sandwich.active .sw-topper {
  top: 9px;
  transform: rotate(45deg);
}
.sandwich.active .sw-bottom {
  opacity: 0;
}
.sandwich.active .sw-footer {
  top: 5px;
  transform: rotate(-45deg);
}

/*End Sandwich*/

.billbord {
  padding-top: 130px;
  min-height: 918px;
  background-image: url(../img/billbord.jpg);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  position: relative;
}
.title-big {
  font-size: 55px;
  line-height: 1.2;
}
.descr-big {
  font-size: 24px;
  padding-top: 20px;
  line-height: 36px;
  color: #264942;
}
strong {
  font-weight: 700;
}
.col_pr {
  padding-right: 0;
}
.btn-main {
  padding: 0 30px;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 500;
  text-transform: uppercase;
  color: #fefefe;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
  height: 77px;
  background-color: #826632;
  box-shadow: 0px 10px 15px 0px rgba(130, 102, 50, 0.62);
  font-family: "Muller";
  border: none;
  transition: all 0.3s;
  position: relative;
  cursor: pointer;
  z-index: 1;
}
.btn-main::after,
.btn-main::before {
  position: absolute;
  display: block;
  content: " ";
  top: 0;
  left: 0;
  right: 0;
  bottom: 4px;
  border-radius: 10px;
  z-index: -1;
  background-color: #dec282;
  transition: all 0.3s;
  background-image: linear-gradient(180deg, #dec282 0%, #8e7039 100%);
}
.btn-main::after {
  opacity: 0;
  background-image: linear-gradient(180deg, #8e7039 0%, #8e7039 100%);
}
.btn-main:hover::after {
  opacity: 1;
}
.btn-main_page {
  background-color: #264942;
  box-shadow: 0px 10px 15px 0px rgba(38, 73, 66, 0.62);
}
.btn-main_page::before {
  background-color: #176051;
  background-image: linear-gradient(180deg, #36bda2 0%, #176051 100%);
}
.btn-main_page::after {
  background-image: linear-gradient(180deg, #176051 0%, #176051 100%);
}
.billbord__buttons {
  margin-top: 180px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.billbord__buttons .btn-main {
  min-width: 264px;
  margin-right: 34px;
}
.billbord__buttons .btn-main:last-child {
  margin-right: 0;
}
.slider-billbord {
  margin: 0 -15px;
}
.item-billbord {
  font-size: 18px;
  background-color: #f2f2f2;
  border: 6px solid rgba(228, 228, 228, 0.6);
  box-shadow: 0px 17px 24px -6px rgba(165, 168, 168, 0.3);
  height: 150px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  padding-left: 40px;
  border-radius: 10px;
  z-index: 1;
  font-weight: 500;
  position: relative;
}
.item-billbord__title {
  font-size: 24px;
  color: #264942;
}
.item-billbord__image {
  position: absolute;
  display: block;
  content: " ";
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.item-billbord__image:before {
  content: " ";
  position: absolute;
  top: 0;
  left: -1px;
  width: 90px;
  bottom: -1px;
  background: linear-gradient(
    to left,
    rgba(242, 242, 242, 0) 0%,
    rgba(242, 242, 242, 1) 100%
  );
  pointer-events: none;
  z-index: 2;
}
.item-billbord__image img {
  max-width: 100%;
  max-height: 100%;
}
.billbord__bottom {
  margin-top: 95px;
  max-width: 1296px;
}
.environment {
  padding-top: 90px;
  padding-bottom: 80px;
  background-color: #f2f2f2;
}
.title-section {
  font-size: 48px;
  line-height: 1.2;
  max-width: 735px;
  margin: 0 auto;
  text-align: center;
}
.descr-section {
  font-size: 24px;
  color: #264942;
  padding-top: 20px;
  max-width: 735px;
  margin: 0 auto;
  text-align: center;
}
.item-environment__title {
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  margin-bottom: 30px;
  margin-top: -40px;
  text-transform: uppercase;
  color: #264942;
}
.item-environment {
  padding: 40px 30px;
  min-height: 100%;
  padding-top: 0;
  background-color: #ffffff;
  box-shadow: 0px 17px 24px 0px rgba(165, 168, 168, 0.15);
  border-radius: 10px;
  line-height: 24px;
}
.item-environment__image {
  width: 236px;
  height: 236px;
  background-color: #f2f2f2;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  top: -60px;
  position: relative;
  z-index: 1;
}
.item-environment__image::after {
  position: absolute;
  display: block;
  content: " ";
  z-index: -1;
  top: 16px;
  left: 16px;
  right: 16px;
  bottom: 16px;
  border-radius: 50%;
  box-shadow: 0 0 30px #fff;
}
.item-environment__image img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  position: relative;
}
.item-environment p {
  margin-bottom: 15px;
}
.item-environment p:last-child {
  margin-bottom: 0;
}
.row_environment > div:not(:first-child) .item-environment__image img {
  top: 10px;
}
.row_environment > div {
  margin-top: 100px;
}

.environment-map img {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}
.environment-map {
  margin-top: -220px;
}
.infrastructure {
  padding-top: 60px;
  padding-bottom: 100px;
  background-color: #f2f2f2;
  position: relative;
  z-index: 1;
}
.infrastructure .descr-section {
  max-width: 100%;
}
.tabs {
  margin-top: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tabs a {
  height: 72px;
  width: 250px;
  margin: 0 8px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #ffffff;
  box-shadow: 0px 17px 24px 0px rgba(165, 168, 168, 0.15);
  font-size: 18px;
  font-weight: 500;
  color: #264942;
  transition: all 0.3s;
}
.tabs a:hover,
.tabs .active a {
  background-color: #317265;
  color: #fff;
}
.tab-container {
  padding-top: 50px;
}
.slider-infrastructure__image img {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
}
.slider-infrastructure__image {
  border-radius: 10px;
  border: 3px solid #ffffff;
  box-shadow: 0px 17px 24px -3px rgba(165, 168, 168, 0.15);
}
.slider-infrastructure__content {
  margin: 6px;
  margin-right: -80px;
  padding: 35px 40px;
  line-height: 24px;
  color: #317265;
  position: relative;
  border-radius: 10px;
  background-color: #ffffff;
}
.slider-infrastructure__content::before {
  position: absolute;
  display: block;
  content: " ";
  top: -6px;
  left: -6px;
  right: -6px;
  bottom: -6px;
  border-radius: 10px;
  background-color: rgba(228, 228, 228, 0.6);
  z-index: -1;
}
.slider-infrastructure__content li {
  margin-bottom: 20px;
}
.slider-infrastructure__content li:last-child {
  margin-bottom: 0;
}
.slider-infrastructure__content li::before {
  content: "•";
  margin-right: 10px;
}
.title-middle {
  font-size: 24px;
  font-weight: 500;
  color: #264942;
}
.slider-infrastructure__content .title-middle {
  margin-bottom: 30px;
}
.infrastructure .col-lg-4 {
  position: relative;
  z-index: 2;
}
.slider-infrastructure {
  margin-left: -50px;
}
.slick-arrow {
  width: 66px;
  height: 66px;
  top: 50%;
  background-color: #d1913c;
  background-image: linear-gradient(180deg, #ffd194 0%, #d1913c 100%);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff !important;
  font-size: 18px;
  transition: all 0.3s;
  z-index: 2;
}
.slick-arrow::after {
  position: absolute;
  display: block;
  content: " ";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: #d1913c;
  z-index: -1;
  opacity: 0;
  transition: all 0.3s;
}
.slick-arrow::before {
  display: none;
}
.slick-arrow:hover::after {
  opacity: 1;
}
.controls-infrastructure {
  position: relative;
}
.controls-infrastructure .slick-prev,
.slider-infrastructure .slick-prev {
  left: -70px;
}
.controls-infrastructure .slick-next,
.slider-infrastructure .slick-next {
  right: -70px;
}
.controls-infrastructure .slick-arrow {
  top: 270px;
}
.tab-pane {
  display: none;
}
.tab-pane:first-child {
  display: block;
}
.gallery {
  padding-top: 100px;
  background-image: url(../img/bg_gallery.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1920px auto;
  position: relative;
}
.gallery .title-section {
  max-width: 1000px;
}
.item-gallery {
  width: 768px;
  height: 448px;
  padding: 6px;
  border-radius: 10px;
  margin: 0 25px;
  background-color: #fff;
  display: block;
  transition: all 0.3s;
  transform: scale(1);
}
.item-gallery img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
  font-family: "object-fit: cover;";
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
li:not(.slick-current) .item-gallery img {
  opacity: 0.6;
}
li:not(.slick-current) .item-gallery {
  transform: scale(0.96);
}
.slider-gallery {
  margin-top: 70px;
  z-index: 5;
}
.gallery .container {
  position: relative;
  z-index: 6;
}
.slider-controls .slick-arrow {
  bottom: -330px;
  z-index: 20;
  top: auto;
  transform: none;
}
.slider-controls .slick-prev {
  left: 384px;
}
.slider-controls .slick-next {
  right: 384px;
}
.gallery__bottom {
  padding-top: 34px;
  text-align: center;
}
.btn-page {
  padding: 0 49px;
  height: 72px;
  background-color: #ffffff;
  box-shadow: 0px 17px 24px 0px rgba(165, 168, 168, 0.15);
  font-size: 18px;
  font-weight: 500;
  border-radius: 10px;
  border: none;
  font-family: "Geometria";
  color: #264942;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: all 0.3s;
}
.btn-page:hover {
  box-shadow: 0px 17px 24px 0px rgba(165, 168, 168, 0.35);
}
.section-bottom {
  margin-top: -200px;
  padding-top: 400px;
  min-height: 1400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-image: url(../img/bg_footer.jpg);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
}
.tour .title-section {
  max-width: 640px;
  text-align: left;
}
.tour {
  margin-bottom: auto;
}
.form-page {
  padding: 35px 50px;
  background-color: #f2f2f2;
  margin: 6px;
  position: relative;
  border-radius: 10px;
}
.form-page::before {
  position: absolute;
  display: block;
  content: " ";
  top: -6px;
  left: -6px;
  right: -6px;
  bottom: -6px;
  border-radius: 10px;
  background-color: rgba(228, 228, 228, 0.6);
  z-index: -1;
}
.form-page .title-middle {
  margin: 0 auto;
  margin-bottom: 35px;
  max-width: 542px;
  text-align: center;
}
.col_form {
  z-index: 2;
}
.item-form__title {
  font-size: 14px;
  padding-bottom: 9px;
  line-height: 21px;
  text-transform: uppercase;
}
.item-form textarea,
.item-form input {
  font-size: 14px;
  line-height: 21px;
  width: 100%;
  height: 50px;
  padding: 0 20px;
  background-color: #ffffff;
  box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 0.22);
  font-family: "Geometria";
  border: none;
  font-weight: 400;
  transition: all 0.3s;
  border-radius: 8px;
  color: #101b0d;
}
.item-form textarea {
  height: 112px;
  resize: none;
  margin-top: 27px;
  padding-top: 19px;
}
.tour .form-page {
  margin-left: -100px;
}
.form-page .row {
  margin: 0 -10px;
}
.form-page .row > div {
  padding: 0 10px;
}
.tour .title-section {
  margin: 0;
}
.form-page .btn-main {
  width: 100%;
  height: 50px;
  font-size: 14px;
  padding: 0 10px;
}
.checkbox {
  font-size: 10.6px;
  line-height: 1.2;
  color: #094b53;
}
.checkbox label input {
  position: absolute;
  z-index: -1;
  height: 1px !important;
  width: 1px !important;
  opacity: 0 !important;
  margin: 12px 2px 0 7px !important;
}
.checkbox label span {
  position: relative;
  padding: 3px 0 0 23px;
  display: block;
  cursor: pointer;
}
.checkbox label span:before {
  content: "";
  position: absolute;
  top: 2px;
  left: 0;
  width: 15px;
  height: 15px;
  border: 1px solid #094b53;
  border-radius: 50%;
  transition: 0.2s;
}
.checkbox label span:after {
  content: "";
  position: absolute;
  top: 2px;
  left: 0px;
  width: 15px;
  height: 15px;
  content: "\f00c";
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  font-family: "Font Awesome 5 Pro";
  font-weight: 900;
  background-image: none;
  color: #339933;
  font-size: 7px;
  opacity: 0;
  transition: 0.2s;
}
.checkbox label input:checked + span:after {
  opacity: 1;
}
.checkbox-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}
.checkbox-wrap .checkbox {
  white-space: nowrap;
}
.checkbox-right {
  margin-top: 33px;
  display: flex;
  justify-content: flex-end;
}
.footer {
  font-size: 14px;
  line-height: 21px;
  color: #fff;
}
.footer .phone-main {
  color: #fff;
  margin-bottom: 25px;
}
.footer .contact-item {
  margin-bottom: 25px;
}
.footer .logo-wrap {
  margin-bottom: 30px;
}
.footer .row > div:last-child ul,
.footer__title {
  font-size: 18px;
  margin-bottom: 25px;
  line-height: 1.2;
  font-weight: 800;
}
.footer a {
  display: inline-block;
  color: #fff;
  transition: all 0.3s;
}
.footer .row > div:last-child ul li {
  margin-bottom: 26px;
}
.footer li {
  margin-bottom: 23px;
}
.footer__title_mob {
  display: none;
}
.footer li a {
  border-bottom: 1px solid transparent;
}
.footer li a:hover {
  border-color: #fff;
}
.footer__bottom {
  padding: 10px 0;
  color: #c9cacc;
  font-weight: 300;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.footer__bottom a {
  color: #c9cacc;
}
.create {
  letter-spacing: 0.25px;
  display: inline-flex;
  align-items: center;
}
.create img {
  max-width: 60px;
  margin-left: 15px;
}
.align_right {
  text-align: right;
}
.btn_top {
  font-size: 20px;
  position: relative;
  color: #fff !important;
  width: 50px;
  height: 50px;
  text-align: center;
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flex;
  display: -o-inline-flex;
  display: inline-flex !important;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px rgba(255, 255, 255, 0.2) solid;
  background-color: transparent;
  z-index: 300;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.btn_top:hover {
  box-shadow: 0 0 3px #ccc;
}
.billbord__branch1 {
  position: absolute;
  display: block;
  bottom: -230px;
  right: 0;
}
.billbord__branch2 {
  position: absolute;
  display: block;
  top: 100%;
  left: 0;
}
.gallery__branch {
  position: absolute;
  display: block;
  top: -30px;
  left: 0;
  z-index: 2;
  pointer-events: none;
}
.section-bottom__branch {
  position: absolute;
  display: block;
  top: 0px;
  right: 0;
  z-index: 4;
  pointer-events: none;
}
.section-bottom {
  position: relative;
}
.slick-dots {
  bottom: 0;
}
.slick-dots li {
  width: 10px;
  height: 10px;
}
.slick-dots li button {
  width: 10px;
  height: 10px;
  border: none;
  padding: 0;
  transition: all 0.3s;
  background-color: #dec282;
}
.slick-dots li button:hover,
.slick-dots li.slick-active button {
  background-color: #8e7039;
}
.footer__title i {
  display: none;
}

.gift {
  padding-top: 90px;
  padding-bottom: 200px;
  position: relative;
  background-image: url(../img/bg_gift.jpg);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
}
.gift__branch {
  position: absolute;
  display: block;
  top: -30px;
  right: 0;
}
.gift .title-section {
  text-align: left;
  max-width: 100%;
  margin-bottom: 50px;
}
.gift .title-section strong {
  color: #264942;
}
.list-check {
  font-size: 24px;
  font-weight: 500;
  color: #264942;
}
.list-check li {
  padding-left: 45px;
  margin-bottom: 30px;
  position: relative;
}
.list-check li::before {
  position: absolute;
  content: "\f00c";
  width: 23px;
  height: 23px;
  display: flex;
  color: #fff;
  font-size: 19px;
  padding-bottom: 5px;
  padding-left: 5px;
  align-items: center;
  justify-content: center;
  background-color: #36bda2;
  background-image: linear-gradient(180deg, #36bda2 0%, #176051 100%);
  top: 3px;
  left: 0;
  border-radius: 50%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  font-family: "Font Awesome 5 Pro";
  font-weight: 400;
}
.gift__center {
  margin-bottom: 50px;
  display: flex;
  align-items: center;
}
.doc-item {
  width: 201px;
  height: 210px;
  padding-bottom: 10px;
  display: flex;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  margin-left: 20px;
  text-transform: uppercase;
  color: #101b0d;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: url(../img/bg_doc.png);
  background-repeat: no-repeat;
  background-position: center;
  animation: animate_grow 2s infinite;
}
@keyframes animate_grow {
  0% {
    transform: scale3d(1, 1, 1);
  }
  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
.doc-item img {
  margin-bottom: 15px;
}
.form-page .title-middle strong {
  font-weight: 700;
  border-bottom: 1px #264942 solid;
}
.gift .form-page .title-middle {
  margin-bottom: 40px;
  max-width: 100%;
}
.location .descr-section,
.location .title-section {
  max-width: 1110px;
  position: relative;
  z-index: 2;
}
.location .descr-section {
  position: relative;
}
.location .descr-section::after,
.location .descr-section::before {
  position: absolute;
  display: block;
  content: " ";
  top: 100%;
  right: 100%;
  width: 205px;
  margin-top: -20px;
  height: 149px;
  background-image: url(../img/bird1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}
.location .descr-section::after {
  left: 100%;
  right: auto;
  width: 120px;
  height: 94px;
  margin-left: 25px;
  background-image: url(../img/bird2.png);
}
.gift .container {
  position: relative;
  z-index: 3;
}
#map-location {
  height: 730px;
}
.location {
  position: relative;
}
.location::after {
  position: absolute;
  display: block;
  content: " ";
  height: 1583px;
  width: 100%;
  top: -840px;
  left: 0;
  pointer-events: none;
  background-image: url(../img/clouds.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.location-map {
  margin-top: -100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.location-map::after {
  position: absolute;
  display: block;
  content: " ";
  width: 100%;
  height: 150px;
  bottom: 0;
  left: 0;
  pointer-events: none;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    #f2f2f2 100%
  );
}
.location-map .container {
  width: 1620px;
  max-width: 1620px;
  margin: 0;
  z-index: 2;
  position: relative;
}
.item-location__pin {
  width: 27px;
  height: 34px;
  position: relative;
  cursor: pointer;
  z-index: 2;
  background-image: url(../img/pin_location.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  transition: all 0.3s;
}
.item-location__pin:hover {
  transform: scale(1.05);
}
.item-location {
  position: absolute;
}
.item-location_1 {
  top: -398px;
  left: 262px;
}
.item-location_2 {
  top: -301px;
  left: 593px;
}
.item-location_3 {
  top: -359px;
  left: 903px;
}
.item-location_4 {
  top: -286px;
  right: 449px;
}
.item-location_5 {
  top: -337px;
  right: 250px;
}
.item-location__content {
  padding: 10px;
  padding-bottom: 23px;
  text-align: center;
  font-size: 13px;
  line-height: 1.2;
  width: 159px;
  position: absolute;
  bottom: 100%;
  margin-bottom: -10px;
  left: 50%;
  transform: translate(-50%);
  background-color: #ffffff;
  box-shadow: 0px 17px 24px 0px rgba(165, 168, 168, 0.15);
  border-radius: 8px;
  display: none;
}
.item-location__image {
  height: 95px;
  margin-bottom: 10px;
  border-radius: 8px;
}
.item-location__image img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  object-fit: cover;
  font-family: "object-fit: cover;";
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.image-mockup {
  position: absolute;
  left: 100%;
  margin-left: -540px;
  top: -240px;
  z-index: -1;
}
.infrastructure_page {
  background-image: url(../img/outline1.png);
  background-repeat: no-repeat;
  background-position: left bottom;
}
.layout {
  padding-top: 45px;
  padding-bottom: 100px;
  position: relative;
  z-index: 4;
}
.layout .title-section,
.layout .descr-section {
  max-width: 100%;
}
.layout .title-section strong {
  color: #101b0d;
}
.logo-title {
  width: 142px;
  margin: 0 auto;
  margin-bottom: 38px;
}
.logo-title img {
  max-width: 100%;
}
.layout-wrap {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  position: relative;
}
.layout-block {
  width: 1455px;
  position: relative;
}
.item-layout {
  mix-blend-mode: multiply;
  display: inline-block;
  position: absolute;
  opacity: 0;
  transition: all 0.3s;
}
.item-layout.active,
.item-layout:hover {
  opacity: 1;
}
.item-layout_1 {
  top: 0;
  left: 0px;
}
.item-layout_2 {
  top: 0;
  left: 209px;
}
.item-layout_3 {
  top: 0;
  left: 294px;
}
.item-layout_4 {
  top: 0;
  left: 373px;
  z-index: 2;
}
.item-layout_5 {
  top: 0;
  left: 373px;
}
.item-layout_7 {
  top: 175px;
  left: 646px;
}
.item-layout_8 {
  top: 175px;
  left: 721px;
}
.item-layout_9 {
  top: 175px;
  left: 794px;
}
.item-layout_10 {
  top: 175px;
  left: 870px;
}
.item-layout_11 {
  top: 175px;
  left: 943px;
}
.item-layout_12 {
  top: 175px;
  right: 334px;
}
.item-layout_13 {
  top: 175px;
  right: 259px;
}
.item-layout_14 {
  top: 175px;
  right: 181px;
}
.item-layout_15 {
  top: 352px;
  right: 86px;
}
.item-layout_16 {
  top: 352px;
  right: 6px;
}
.item-layout_17 {
  bottom: 51px;
  right: 4px;
}
.item-layout_18 {
  bottom: 51px;
  right: 445px;
}
.item-layout_19 {
  bottom: 51px;
  left: 567px;
}
.layout-modal {
  padding: 13px;
  width: 852px;
  max-width: 100%;
  border: 2px solid #f8f7f4;
  box-shadow: 0px 0px 30px 0px rgba(106, 106, 106, 0.54);
  position: absolute;
  border-radius: 10px;
  z-index: 10;
  left: 0;
  background-color: #f2f2f2;
  right: 0;
  display: none;
  margin: 0 auto;
  top: 95px;
}
.layout-modal__image {
  height: 501px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.layout-modal__image img {
  max-width: 100%;
  max-height: 100%;
}
.layout-modal__title {
  font-size: 24px;
  padding-bottom: 15px;
  line-height: 1.2;
  font-weight: 700;
}
.layout-modal__area {
  font-weight: 500;
  min-height: 25px;
  margin-bottom: 30px;
  padding-left: 35px;
  background-image: url(../img/ic_area.png);
  background-repeat: no-repeat;
  background-position: left center;
}
.layout-modal__area strong {
  font-size: 24px;
  line-height: 1.2;
  font-weight: 700;
}
.layout-modal__area strong sup {
  font-size: 13px;
}
.layout__feature {
  margin-bottom: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.layout__feature strong {
  font-weight: 500;
}
.layout-modal__bottom {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.layout-modal__bottom .btn-main {
  padding: 0 47px;
  margin-bottom: 40px;
  text-transform: none;
  height: 59px;
}
.layout-modal__bottom .link-page {
  font-size: 16px;
}
.layout-modal__right {
  padding-right: 35px;
}
.designs .descr-section,
.designs .title-section {
  max-width: 100%;
}
.designs {
  padding-top: 35px;
  padding-bottom: 50px;
  background-color: #f2f2f2;
  position: relative;
  z-index: 2;
}
.tabs a sup {
  font-size: 13px;
  position: relative;
  top: -4px;
}
.sliders-design {
  padding: 11px;
  padding-bottom: 0;
  padding-right: 15px;
  border-radius: 10px;
  background-color: #fff;
}
.slider-for__item {
  height: 567px;
  border-radius: 10px;
}
.slider-nav img,
.slider-for__item img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
  font-family: "object-fit: cover;";
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.slider-nav__item {
  height: 169px;
  margin-bottom: 28px;
  border-radius: 10px;
  cursor: pointer;
}
.sliders-design {
  max-width: 1560px;
  margin: 0 auto;
}
.slider-nav {
  margin-left: 40px;
  margin-bottom: -10px;
}
.slider-for {
  margin-right: -40px;
}
.controls-for {
  position: relative;
}
.controls-for .slick-prev {
  left: -100px;
}
.controls-for .slick-next {
  right: -100px;
}
.controls-for .slick-arrow {
  top: 270px;
}
.infrastructure__branch {
  position: absolute;
  display: block;
  bottom: -50px;
  right: 0;
  z-index: -1;
}
.facilities {
  padding-top: 55px;
  padding-bottom: 85px;
  background-image: url(../img/bg_facilities.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.facilities .title-section {
  max-width: 1310px;
}
.item-facility {
  padding: 38px 20px;
  padding-bottom: 50px;
  background-color: #ffffff;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  text-transform: uppercase;
  color: #264942;
  text-align: center;
  box-shadow: 0px 17px 24px 0px rgba(165, 168, 168, 0.15);
  border-radius: 10px;
  min-height: 100%;
}
.item-facility__image {
  width: 236px;
  height: 236px;
  background-color: #f2f2f2;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 35px;
  position: relative;
  z-index: 1;
}
.item-facility__image::after {
  position: absolute;
  display: block;
  content: " ";
  z-index: -1;
  top: 16px;
  left: 16px;
  right: 16px;
  bottom: 16px;
  border-radius: 50%;
  box-shadow: 0 0 30px #fff;
}
.item-facility__image img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  position: relative;
}
.row_facilities {
  margin: 0 -50px;
}
.row_facilities > div {
  padding: 0 50px;
  margin-top: 50px;
}
.income__wrap,
.facilities__wrap {
  max-width: 1310px;
  margin: 0 auto;
}
.income {
  padding-top: 68px;
  background-image: url(../img/bg_income.jpg);
  background-repeat: no-repeat;
  background-position: center top;
}
.income-block {
  width: 370px;
  max-width: 100%;
  padding: 0 20px;
  padding-top: 58px;
  height: 552px;
  text-align: center;
  background-image: url(../img/income_block.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  color: #ffffff;
}
.income-block__title {
  font-size: 48px;
  padding-bottom: 10px;
  line-height: 1.2;
  font-weight: 400;
}
.income-block__value {
  font-size: 100px;
  line-height: 1.2;
  padding-bottom: 20px;
  font-weight: 900;
  text-shadow: 0px 10px 18px rgba(26, 70, 61, 0.64);
}
.income-block__descr {
  font-size: 35.4px;
  line-height: 1.2;
}
.income .btn-main {
  display: flex;
  width: 350px;
  margin-left: 15px;
  margin-top: 40px;
  max-width: 100%;
}
.income .list-check {
  margin-top: 23px;
  font-weight: 400;
  max-width: 800px;
}
.income__laptop {
  margin-left: -190px;
}
.title-section sup {
  font-size: 20px;
}
.layout-modal__close {
  font-size: 20px;
  top: 15px;
  right: 15px;
  cursor: pointer;
  z-index: 5;
  position: absolute;
}
.social-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.social-list a {
  font-size: 22px;
  color: #fff;
  font-weight: 400;
}
.social-list li {
  margin-right: 18px;
}
.social-list li:last-child {
  margin-right: 0;
}
.footer .logo-descr {
  margin-bottom: 25px;
  margin-left: 0;
}
.mob-contacts {
  display: none;
}
.slider-infrastructure .slick-arrow {
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: auto;
}
.slider-infrastructure .slick-prev {
  left: -90px;
}
.slider-infrastructure .slick-next {
  right: -90px;
}

.item-news__title {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 10px;
  font-weight: 500;
  max-width: 545px;
  text-transform: uppercase;
  color: #264942;
  width: 100%;
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.item-news__date {
  font-size: 10.6px;
  margin-bottom: 25px;
  line-height: 1.2;
  display: block;
  color: #094b53;
}
.item-news__text {
  margin-bottom: 20px;
  line-height: 24px;
  color: #101b0d;
  display: block;
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.item-news {
  padding: 35px;
  background-color: #ffffff;
  border: 2px solid #f8f7f4;
  min-height: 100%;
  box-shadow: 0px 17px 24px 0px rgba(165, 168, 168, 0.15);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  position: relative;
  transition: all 0.3s;
}
.item-news:hover {
  box-shadow: 0px 17px 24px 0px rgba(165, 168, 168, 0.35);
}
.item-news__image {
  height: 300px;
  margin-top: auto;
  display: block;
  width: 100%;
}
.item-news__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  font-family: "object-fit: cover;";
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.item-news__arrow {
  top: 32px;
  right: 35px;
  font-size: 28px;
  opacity: 0.5;
  color: #264942;
  position: absolute;
}
.col-lg-3 .item-news__image {
  height: 176px;
  order: -1;
  margin-top: 0;
  margin-bottom: 30px;
}
.col-lg-3 .item-news__text {
  -webkit-line-clamp: 5;
  margin-bottom: 0;
}
.col-lg-3 .item-news__arrow {
  bottom: 15px;
  top: auto;
}
.col-lg-3 .item-news {
  padding-bottom: 45px;
}
.wrapper_page {
  padding-top: 130px;
  background-color: #fefefe;
}
.row_news > div {
  margin-bottom: 35px;
}
.pager {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page-numbers {
  width: 100px;
  height: 72px;
  font-size: 18px;
  color: #264942;
  margin: 0 13px;
  background-color: #ffffff;
  box-shadow: 0px 17px 24px 0px rgba(165, 168, 168, 0.15);
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: all 0.3s;
}
.page-numbers:hover,
.page-numbers.current {
  background-color: #317265;
  color: #fff;
}
.prev.page-numbers,
.next.page-numbers {
  font-size: 15px;
  color: #264942 !important;
  width: 50px;
  background-color: transparent;
  box-shadow: none;
  font-weight: 400;
}
.container {
  position: relative;
  z-index: 2;
}
.title-section_page {
  text-align: left;
  max-width: 100% !important;
  margin: 0;
}
.breadcumbs {
  font-size: 14px;
  line-height: 21px;
  margin-top: 20px;
  margin-bottom: 50px;
  font-weight: 300;
  color: #101b0d;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.breadcumbs a {
  color: #101b0d;
  border-bottom: 1px solid transparent;
  transition: all 0.3s;
}
.breadcumbs span {
  margin: 0 8px;
}
.breadcumbs a:hover {
  border-color: #101b0d;
}
.wrapper_page .billbord__branch1 {
  top: 90px;
}
.wrapper_page .billbord__branch2 {
  top: 260px;
  bottom: auto;
  pointer-events: none;
}
.article-block {
  padding: 33px;
  line-height: 24px;
  background-color: #ffffff;
  border: 2px solid #f8f7f4;
  box-shadow: 0px 17px 24px 0px rgba(165, 168, 168, 0.15);
  border-radius: 6px;
}
.article-block p {
  margin-bottom: 20px;
}
.article-block img {
  max-width: 100%;
  margin-bottom: 20px;
}
.article-block h2 {
  font-size: 25px;
  margin-bottom: 20px;
  font-weight: 500;
  color: #264942;
}
.article-block li {
  padding-left: 50px;
  margin-bottom: 20px;
  position: relative;
}
.article-block ul li::before {
  position: absolute;
  display: block;
  content: " ";
  width: 10px;
  height: 10px;
  background-color: #317265;
  border-radius: 50%;
  top: 5px;
  left: 15px;
}
.article-block ol {
  padding: 0;
  margin: 0;
  list-style-type: none;
  counter-reset: list1;
}
.article-block ol li::before {
  position: absolute;
  top: 0;
  left: 15px;
  font-size: 18px;
  font-weight: 500;
  color: #264942;
  counter-increment: list1;
  content: counter(list1) ". ";
}
.sidebar-news {
  padding: 30px 35px;
  background-color: #ffffff;
  border: 2px solid #f8f7f4;
  box-shadow: 0px 17px 24px 0px rgba(165, 168, 168, 0.15);
  border-radius: 6px;
}
.sidebar-news .item-news {
  box-shadow: none;
  padding: 0 !important;
  margin-bottom: 20px;
  border: none;
}
.sidebar-news .item-news__date {
  margin-bottom: 15px;
}
.sidebar-news .item-news__title {
  padding-right: 25px;
}
.sidebar-news .item-news__arrow {
  bottom: 6px;
  right: 0;
}
.sidebar-news .item-news:last-child {
  margin-bottom: 0;
}
.link-simple {
  font-weight: 700;
  color: #264942;
  display: inline-block;
  transition: all 0.3s;
}
.link-simple:hover {
  color: #000;
}
.link-simple i {
  font-size: 10px;
  margin-left: 10px;
}
.sidebar-news .link-simple {
  margin-bottom: 25px;
}
.article-block time {
  font-size: 10.6px;
  line-height: 1.2;
  font-weight: 400;
  color: #094b53;
  margin-bottom: 15px;
  display: block;
}
.sidebar-news .item-news__image {
  height: 176px;
  order: -1;
  margin-bottom: 30px;
}
.room + .designs {
  padding-bottom: 70px;
}
.room {
  padding-bottom: 60px;
  z-index: 4;
  position: relative;
}
.room .breadcumbs {
  margin-bottom: 30px;
}
.room .layout-wrap {
  margin-top: 0;
}

/* ==================== NEW STYLES ==================== */
.about-conpany {
  min-height: 600px;
}
.about-conpany_bg-img {
  position: absolute;
  z-index: 0;
  top: 30px;
  right: 0;
  width: 100%;
  height: 900px;
  object-fit: cover;
}
.color-green {
  color: #264942;
}
.about-conpany__desc {
  margin-left: 210px;
  max-width: 795px;
}

.title-big_m-b {
  margin-bottom: 45px;
}

.desc-text {
  font-size: 16px;
  margin-bottom: 50px;
  line-height: 25px;
}
.desc-text:last-child {
  margin-bottom: 0px;
}

.billbord_z-position {
  z-index: 1;
}
.billbord__branch2_position {
  left: -150px;
}

/* our-doc */
.our-doc {
  padding-top: 35px;
  padding-bottom: 50px;
  background-color: #f2f2f2;
  position: relative;
  z-index: 2;
}
.our-doc::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100px;
  background: linear-gradient(
    180deg,
    rgba(242, 242, 242, 1) 30%,
    rgba(255, 255, 255, 0.3) 100%
  );
}
.item-environment__btn {
  position: absolute;
  font-size: 18px;
  color: #264942;
  font-weight: 500;
  bottom: 20px;
}
.item-environment__btn::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background: #909c9a;
  bottom: -1px;
  transition: all 0.5s;
}
.item-environment__btn:hover::before {
  background: #264942;
}
.slider-doc .item-environment {
  position: relative;
  margin: 80px 15px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
}
.slider-doc .slick-track {
  margin-bottom: 20px;
}
.our-doc .controls-for .slick-next {
  right: -65px;
}
.our-doc .controls-for .slick-prev {
  left: -65px;
}
.slider-doc .item-environment__title {
  margin-bottom: 40px;
}
.slider-doc .item-environment__image::after {
  box-shadow: 0 0 30px 15px #fff;
}
.slider-doc .slick-dots {
  bottom: -20px;
}
.our-doc .controls-for .slick-arrow {
  top: 250px;
}

/* contacts */
.contacts {
  /* position: relative; */
  height: 975px;
}
/* .contacts::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 50%,
    rgba(255, 255, 255, 0.8169642857142857) 75%,
    rgba(255, 255, 255, 0) 100%
  );
  z-index: 4;
  bottom: -145px;
}
.contacts::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 50px;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  z-index: 4;
  bottom: 123px;
} */
.contacts_bg-img {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 1050px;
  object-fit: cover;
}
.contacts-map {
  width: 100%;
  height: 556px;
  background: #ffffff;
  border-radius: 10px;
  padding: 14px;
}
.btn-main_p-t {
  margin-top: 27px;
}
.contacts__map {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #f4f4f4;
}
.contacts-container {
  height: 1050px;
  position: absolute;
  content: "";
  background: url(../img/contacts-phone-img.png) no-repeat;
  width: 540px;
  top: 120px;
  left: -70px;
}
.contacts-items {
  position: relative;
  left: 210px;
  top: 80px;
  width: max-content;
}
.contacts-item {
  position: relative;
}
.contacts-item dt {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
  color: #264942;
  display: flex;
  align-items: center;
}
.contacts-item dt img {
  margin-right: 8px;
}
.contacts-item dd {
  font-size: 16px;
  margin: 0 0 36px 0;
  width: max-content;
}
.contacts-item dd a {
  color: currentColor;
  transition: all 0.3s;
}
.contacts-item dd:hover a {
  padding-left: 10px;
}
.section-bottom_m-p {
  margin-top: -150px;
  z-index: 2;
}
.billbord__branch2_position-1 {
  top: 660px !important;
  left: -140px;
  z-index: 5;
}
.contacts-item ul {
  display: flex;
  align-items: center;
  margin: 60px 0 0 40px;
}
.contacts-item li {
  margin: 0 10px 0;
  transition: all 0.5s;
}
.contacts-item li:hover {
  transform: scale(1.1);
}
.location__map {
  height: 700px;
  position: relative;
}
.location__map::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 50px;
  top: 0;
  background: linear-gradient(180deg, rgba(255,255,255,.7) 50%, rgba(255,255,255,0.7) 75%, rgba(255,255,255,0) 100%);
  z-index: 1;
}
#location--map p {
  color: currentColor;
  text-align: center;
  max-width: 100px;
}
#location--map img {
  max-width: 111px;
  width: 100%;
  height: 75px;
  object-fit: cover;
  border-radius: 8px;
}
#location--map .ymaps-2-1-79-balloon {
  box-shadow: none;
}
#location--map .ymaps-2-1-79-balloon__layout {
  border-radius: 8px;
  font-size: 13px;
  line-height: 1.2;
  box-shadow: 0px 17px 24px 0px rgb(165 168 168 / 15%);
}
.layout-wrap_height {
  height: 100%;
  margin: 0 !important;
}
.layout-modal_block {
  position: relative;
  display: block !important;
  padding: 13px;
  width: 852px;
  max-width: 100%;
  border: 2px solid #f8f7f4;
  box-shadow: 0px 0px 30px 0px rgba(106, 106, 106, 0.54);
  border-radius: 10px;
  z-index: 10;
  right: 0;
  left: 0;
  right: 0;
  background-color: #f2f2f2;
}
.plans {
  height: auto;
  padding-bottom: 50px;
}
.absolute-img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 40px;
  left: 0;
  object-fit: cover;
}
.plans__container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.info-box__rooms {
  max-width: 1106px;
  height: 583px;
  padding: 3px;
  border-radius: 6px;
  background: #f8f7f4;
  border: 3px solid #fff;

  display: flex;
  align-items: center;
  justify-content: center;
}
.info-box__rooms img {
  width: 90%;
}
.choose-layout {
  position: relative;
  padding: 100px 0 0px;
  background-color: #ffffff;
}
.choose-layout .title-section {
  max-width: 1200px;
}
.choose-layout__items {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(454px, auto);
  row-gap: 50px;
  column-gap: 18px;
}
.choose-layout__item {
  padding: 8px;
  max-width: 502px;
  width: 100%;
  /* height: 438px; */
  background: #f2f2f2;
  border-radius: 6px;
  box-shadow: 0px 15px 15px 5px rgba(165, 168, 168, 0.3);
}
.item__img-box {
  position: relative;
  width: 100%;
  padding: 50px 30px 30px;
  height: 263px;
  border-radius: 3px;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.item__img-box:hover img {
  transform: scale(1.03);
}
.item__img-box span {
  position: absolute;
  top: 30px;
  left: 40px;

  font-size: 18px;
  font-weight: 500;
  
  text-transform: uppercase;
  color: #264942;
}
.item__img-box img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: all .5s;
}
.total-area {
  display: flex;
  align-items: baseline;
  margin-bottom: 30px;
  padding: 0 10px;
}
.total-area img {
  margin-right: 10px;
}
.total-area p {
  font-size: 16px;
  font-weight: 500;
  margin-right: 7px;
}
.total-area span {
  font-weight: bold;
  font-size: 24px;
}
.item__btn-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  padding: 0 10px;
}
.btn-plan {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #264942;
  font-size: 16px;
  font-weight: 500;
  max-width: 248px;
  width: 100%;
  height: 56px;
  border-radius: 6px;
  background: #ffffff;
  box-shadow: 0px 10px 15px 3px rgba(165, 168, 168, .3);
  transition: all .5s;
}
.btn-plan:hover {
  box-shadow: 0px 10px 15px 3px rgba(165, 168, 168, .6);
}
.item__btn-box .btn-main {
  height: 56px;
  font-size: 16px;
  text-transform: capitalize;
} 