/*==========  Desktop First Method  ==========*/
@media only screen and (max-width : 1740px) {

	.title-big {
		font-size: 47px;
	}
	.descr-big {
		font-size: 20px;
		padding-top: 15px;
		line-height: 32px; 
		max-width: 515px;
	}
	.billbord__buttons {
		margin-top: 133px;
	}
	.billbord {
		min-height: 800px;
	}
	.billbord__bottom { 
		max-width: 1200px;
	}
	.infrastructure__branch img,
	.gift__branch img,
	.billbord__branch1 img,
	.billbord__branch2 img,
	.gallery__branch img,
	.section-bottom__branch img,
	.gift::before,
	.infrastructure::after,
	.section-bottom::after,
	.gallery::after,
	.gallery::before,
	.billbord::before,
	.billbord::after {
		transform: scale(0.7);
		transform-origin: 100% 100%;
	}
	.gallery__branch img,
	.billbord__branch2 img,
	.gallery::before, 
	.billbord::before {
		transform-origin: 0 0;	
	}

	.item-environment__title {
		font-size: 17px;
		line-height: 23px;
		margin-bottom: 20px;
	}
	.section-bottom {
		margin-top: -250px;
	}
	.tour .title-section {
		font-size: 41px;
		max-width: 563px;
	}
	.item-environment {
		font-size: 15px;
		line-height: 22px;
	}
	.title-section {
		font-size: 41px;
		max-width: 628px;
	}
	.descr-section {
		font-size: 21px;
	}
	.slider-controls .slick-prev {
		left: 428px;
	}
	.slider-controls .slick-next {
		right: 428px;
	}
	.gift__branch img,
	.gift::before {
		transform-origin: 100% 0%;	
	}
	.gift .form-page .title-middle {
		font-size: 20px;
	}
	.layout-block {
		transform: scale(0.8);
		transform-origin: 50% 0%;	
	}
	.layout-wrap {
		margin-bottom: -100px;
	}
	.controls-for .slick-prev {
		left: -80px;
	}
	.controls-for .slick-next {
		right: -80px;
	}
	.item-news {
		padding: 25px;
	}
	.item-news__text {
		line-height: 23px;
	}
	.wrapper_page .billbord__branch1 {
    top: -55px;
	}
	.wrapper_page .billbord__branch2 {
    top: 258px;
  }
	.article-block {
		font-size: 15px;
		line-height: 23px;
	}
    .sidebar-news {
    padding: 30px 24px
	}
	.sidebar-news .item-news__title {
		font-size: 16px;
	}
	.room {
		padding-bottom: 30px;
	}
	.contacts::after {
		display: none;
	}
	.contacts::before {
    bottom: 25px;
	}
}
@media only screen and (max-width : 1500px) {
	.title-big {
		font-size: 40px;
	}
	.descr-big {
		font-size: 17px;
		padding-top: 14px;
		line-height: 29px;
		max-width: 462px;
	}
	.billbord__buttons {
		margin-top: 95px;
	}
	.btn-main {
		padding: 0 25px;
		font-size: 14px;
		height: 65px;
	}
	.billbord__buttons .btn-main {
		min-width: 240px;
		margin-right: 25px;
	}
	.item-billbord {
		font-size: 16px;
		height: 125px;
		padding-left: 25px;
	}
	.item-billbord__title {
		font-size: 21px;
		padding-bottom: 4px;
	}
	.billbord__bottom {
		max-width: 1100px;
		margin-top: 60px;
	}
	.billbord {
		min-height: 715px;
	}
	.environment {
		padding-top: 60px;
		padding-bottom: 30px;
	}
	.item-environment__image {
		width: 180px;
		height: 180px;
		padding: 20px;
	}
	.item-environment {
		font-size: 13px;
		line-height: 20px;
		padding: 0 20px;
		padding-bottom: 20px;
	}
	.title-section {
		font-size: 35px;
		max-width: 516px;
	}
	.descr-section {
		font-size: 18px;
		padding-top: 15px;
	}
	.tabs a {
		font-size: 16px;
		width: 220px;
		height: 65px;
	}
	.slider-infrastructure__content {
		font-size: 14px;
		line-height: 22px;
	}
	.gallery .title-section {
		max-width: 820px;
	}
	.gallery .container {
		max-width: 992px;
	}
	.slider-controls .slick-prev {
		left: 72px;
	}
	.slider-controls .slick-next {
		right: 72px;
	}
	.tour .title-section {
		font-size: 34px;
		max-width: 476px;
	}
	.form-page {
		padding: 35px 25px;
	}
	.item-form__title {
		font-size: 13px;
		padding-bottom: 4px;
		line-height: 18px;
	}
	.checkbox-right {
		margin-top: 20px;
	}
	.section-bottom {
		margin-top: -83px;
		padding-top: 235px;
		min-height: 1205px;
		background-size: 1920px auto;
	}
	.footer .row > div:last-child ul, .footer__title {
		font-size: 16px;
	}
	.phone-main {
		font-size: 16px;
	}
	.section-bottom__branch img,
	.section-bottom::after {
		transform-origin: 100% 0;
	}
	.image-mockup img {
		max-width: 1300px;
	}
	.image-mockup {
		margin-left: -362px;
		top: -140px;
	}
	.gift__branch img,
	.gift::before {
		transform: scale(0.6);
	}
	.location {
		margin-bottom: -20px;
	}
	.slider-nav__item {
		height: 168px;
	}
	.income__laptop img {
		max-width: 800px;
	}
	.income__laptop {
		margin-left: -119px;
	}
	.controls-infrastructure .slick-arrow {
    top: 230px;
	}
	.item-news__title {
		font-size: 16px;
	}
	.item-news__date {
		margin-bottom: 15px;
	}
	.item-news__text {
		font-size: 14px;
		line-height: 22px;
	}
	.item-news__title {
		max-width: 445px;
	}
	.sidebar-news .item-news__title {
			font-size: 15px;
	}
	.sidebar-news .item-news__image {
		margin-bottom: 20px;
	}
	.about-conpany__desc {
		margin-left: 120px;
	}
	.contacts::before {
    display: none;
	}
}


@media only screen and (max-width : 1300px) {
	body {
		font-size: 14px;
	}
	.billbord {
		background-size: cover;
		background-position: left bottom;
	}
	.title-big {
		font-size: 36px;
	}
	.billbord__branch1 img,
	.billbord__branch2 img,
	.gallery__branch img,
	.section-bottom__branch img,
	.section-bottom::after, 
	.gallery::after, 
	.gallery::before, 
	.billbord::before, 
	.billbord::after {
		transform: scale(0.5);
	}
	.tour .title-section {
		font-size: 30px;
		max-width: 411px;
	}
	.footer__bottom {
		font-size: 13px;
	}
	.section-bottom__branch img,
	.section-bottom::after {
		top: 33px;
	}
	.gift__branch img,
	.gift::before {
		transform: scale(0.5);
	}
	.list-check {
		font-size: 20px;
	}
	.location .descr-section, .location .title-section {
		max-width: 850px;
	}
	.item-news__image {
    height: 273px;
	}
	.wrapper_page .billbord__branch1 {
			top: -125px;
	}
	.wrapper_page .billbord__branch2 {
			top: 223px;
			}
			.sidebar-news {
			padding: 20px 15px;
	}
	.article-block {
			font-size: 14px;
			line-height: 22px;
	}
	.article-block h2 {
			font-size: 19px;
			margin-bottom: 15px;
	}
	.article-block li,
	.article-block p {
		margin-bottom: 15px;
	}
	.about-conpany__desc {
    margin-left: 50px;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.item-environment__title {
		font-size: 15px;
		line-height: 23px;
		margin-bottom: 9px;
	}
	.row_environment {
		margin-left: -5px;
		margin-right: -5px;
	}
	.row_environment > div {
		padding: 0 5px;
	}
	.item-environment__image {
		width: 160px;
		height: 160px;
	}
	.environment-map {
		margin-top: -157px;
	}
	.infrastructure {
		padding-top: 20px;
		padding-bottom: 60px;
	}
	.slider-infrastructure__content li {
		margin-bottom: 14px;
	}
	.slider-infrastructure__content {
		font-size: 13px;
		line-height: 20px;
		padding: 25px 20px;
	}
	.title-middle {
		font-size: 20px;
	}
	.slider-infrastructure__content .title-middle {
		margin-bottom: 20px;
	}
	.tour .title-section {
		font-size: 25px;
		max-width: 342px;
	}
	.item-form__title {
		font-size: 12px;
		padding-bottom: 4px;
		line-height: 18px;
	}
	.form-page .row > div {
		padding: 0 5px;
	}
	.gift__branch img,
	.gift::before {
		top: 20px;
		transform: scale(0.4);
	}
	.gift .title-section {
		margin-bottom: 30px;
	}
	.gift__center {
		margin-bottom: 20px;
	}
	.gift {
		padding-bottom: 100px;
	}
	.location-map {
		transform: scale(0.8);
		transform-origin: 100% 0;
		margin-bottom: -140px;
	}
	.location-map::after {
		transform: scale(1.5);
	}
	.location .descr-section::after, .location .descr-section::before {
		display: none;
	}
	.layout-block {
		transform: scale(0.5);
		transform-origin: 50% 0%;
	}
	.layout-wrap {
		margin-top: 30px;
		margin-bottom: -400px;
	}
	.row_facilities > div {
		padding: 0 15px;
	}
	.row_facilities {
		margin: 0 -15px;
	}
	.income-block__title {
		font-size: 39px;
	}
	.income-block__value {
		font-size: 77px;
	}
	.income-block__descr {
		font-size: 29px;
	}
	.income-block {
		height: 480px;
		width: 275px;
	}
	.controls-infrastructure .slick-arrow {
    top: 213px;
	}
	.footer .phone-main {
		font-size: 13px;
	}
	.breadcumbs {
		margin-top: 10px;
		margin-bottom: 20px;
	}
	.row_news {
		margin: 0 -5px;
	}
	.row_news > div {
		padding: 0 5px;
		margin-bottom: 10px;
	}
	.item-news {
		padding: 15px;
	}
	.col-lg-3 .item-news {
		padding-bottom: 35px;
	}
	.col-lg-3 .item-news__arrow {
		bottom: 5px;
	}
	.item-news__arrow  {
		right: 15px;
	}
	.sidebar-news .item-news__title {
			font-size: 14px;
	}
	.layout-modal { 	
			width: 695px;
					top: 35px;
			}
			.layout-modal__image {
			height: 300px;
	}
	.layout-modal__title {
			font-size: 18px;
			padding-bottom: 9px;
			}
			.layout-modal__area {
				margin-bottom: 15px;
			}
			.layout-modal__area strong {
			font-size: 17px;
	}
	.layout__feature {
			margin-bottom: 9px;
			font-size: 13px;
			}
			.layout-modal__bottom {
			padding-top: 8px;
	}
	.layout-modal__bottom .btn-main {
			padding: 0 37px;
			margin-bottom: 11px;
			height: 49px;
	}
	.room {
		padding-bottom: 60px;
	}
	.about-conpany__desc {
    margin-left: 0;
	}
	.choose-layout__items {
		grid-template-columns: repeat(2, 1fr);
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.header__wrap .contact-item {
		display: none;
	}
	.slider-billbord {
		padding-bottom: 30px;
	}
	.billbord__branch2 img,
	.billbord::before {
		top: 81%;
	}
	.billbord__branch1 img,
	.billbord::after {
		bottom: -140px;
	}
	.row_environment > div,
	.row_environment > div:nth-child(1), .row_environment > div:nth-child(4) {
		margin-top: 70px;
	}
	.environment-map {
		margin-top: 0;
	}
	.tabs a {
		font-size: 14px;
		width: 168px;
		height: 60px;
	}
	.tabs {
		margin-top: 30px;
	}
	.slider-infrastructure__image {
		margin: 0;
		box-shadow: none;
	}
	.slider-infrastructure__content {
		margin: 6px;
		margin-bottom: 30px;
	}
	.slider-infrastructure {
		padding-bottom: 30px;
		margin-left: 0;
	}
	.gallery {
		padding-top: 60px;
	}
	.gallery__branch img,
	.gallery::before {
		top: -125px;
	}
	.slider-gallery {
		margin-top: 40px;
	}
	.item-gallery {
		width: 655px;
		height: 355px;
		margin: 0 5px;
	}
	.slider-controls .slick-arrow {
		bottom: -252px;
	}
	.slider-controls .slick-prev {
		left: 13px;
	}
	.slider-controls .slick-next {
		right: 13px;
	}
	.tour .title-section {
		max-width: 100%;
	}
	.tour .form-page {
		margin: 40px auto;
	}
	.gallery {
		background-size: cover;
	}
	.gallery::after {
		bottom: -46px;
	}
	.section-bottom {
		margin-top: 0;
		padding-top: 60px;
		min-height: initial;
		background-size: 1920px auto;
		position: relative;
	}
	.section-bottom::before {
		position: absolute;
		display: block;
		content: " ";
		width: 100%;
		height: 150px;
		top: 0;
		left: 0;
		z-index: 0;
		background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 1)));
		background: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
	}
	.btn-page {
		padding: 0 40px;
		height: 61px;
		font-size: 16px;
	}
	.section-bottom__branch img,
	.section-bottom::after {
		top: -66px;
	}
	.gift__branch img,
	.image-mockup,
	.gift::before {
		display: none;
	}
	.location-map {
		transform: scale(0.7);
		transform-origin: 100% 0;
		margin-bottom: -254px;
	}
	.location-map::after {
		display: none;
	}
	.slider-for {
		margin-right: 0;
	}
	.slider-nav {
		margin: 0 -6px;
		margin-top: 10px;
	}
	.slider-nav__item {
		height: 150px;
		margin: 0 6px;
	}
	.sliders-design {
		padding: 11px;
	}
	.slider-for__item {
		height: 430px;
	}
	.tab-container {
		padding-top: 34px;
	}
	.income__laptop img {
		max-width: 586px;
	}
	.income {
		padding-bottom: 80px;
	}
	.gift {
		padding-bottom: 44px;
	}
	.layout-modal__image {
		height: 430px;
	}
	.layout-modal__bottom {
		padding-top: 10px;
	}
	.layout-modal__bottom .btn-main {
		margin-bottom: 20px;
	}
	.layout-modal {
		top: 0;
	}
	.item-billbord {
		margin-bottom: 15px;
	}
	.billbord__bottom {
		margin-top: 25px;
	}
	.wrapper_page {
			padding-top: 105px;
	}
	.col-lg-3 .item-news__image {
		margin-bottom: 20px;
	}
	.item-news__image {
		order: -1;
		height: 176px;
		margin-bottom: 20px;
	}
	.item-news__arrow {
		bottom: 5px;
		top: auto;
	}
	.item-news {
		padding-bottom: 35px;
	}
	.item-news__text {
		margin-bottom: 0;
				-webkit-line-clamp: 5;
	}
	.article-block {
		padding: 20px;
	}
	.sidebar-news {
		margin-top: 20px;
		padding: 33px;
	}
	.sidebar-news .item-news__image {
		height: 250px;
	}
	.layout-modal__image {
			height: 340px;
	}
	.contacts-container {
    position: relative;
    top: 0;
		height: 795px;
	}
	.contacts {
		height: auto;
	}
	.plans {
		height: auto;
		padding-bottom: 20px;
	}
	.plans__container {
		flex-direction: column;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.header__links {
		display: none;
	}
	.billbord__buttons {
		margin-top: 20px;
		justify-content: space-between;
	}
	.billbord__buttons .btn-main {
		width: 49%;
		min-width: initial;
		margin: 0;
	}
	.item-billbord {
		width: 100%;
	}
	.billbord__branch1 img,
	.billbord__branch2 img,
	.gallery__branch img,
	.section-bottom__branch img,
	.infrastructure::after, 
	.section-bottom::after, 
	.gallery::after, 
	.gallery::before, 
	.billbord::before, 
	.billbord::after {
		display: none;
	}
	.billbord {
		min-height: initial;
		background-position: center;
		z-index: 1;
	}
	.billbord::after {
		position: absolute;
		display: block;
		content: " ";
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(255, 255, 255, 0.5);
		z-index: -1;
		background-image: none;
		bottom: 0;
		right: 0;
		transform: none;
	}
	.slider-billbord {
		padding-bottom: 0;
	}
	.environment-map {
		margin: 0 -25px;
	}
	.title-section {
		font-size: 29px;
	}
	.item-environment {
		font-size: 14px;
		line-height: 22px;
		padding: 0 35px;
		padding-bottom: 30px;
		min-height: initial;
	}
	.descr-section {
		font-size: 16px;
		padding-top: 15px;
	}
	.environment {
		padding-top: 40px;
		padding-bottom: 15px;
	}
	.tabs {
		flex-direction: column;
	}
	.tabs a {
		margin: 0;
		margin-bottom: 10px;
		width: 100%;
	}
	.tabs li {
		width: 100%;
		display: none;
	}
	.tabs li.active {
		display: block;
		order: -1;
	}

	.tabs-wrap {
		position: relative;
	}
	.tabs-btn {
		height: 60px;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 2;
		display: flex;
		padding-right: 20px;
		align-items: center;
		justify-content: flex-end;
		color: #fff;
	}
	.tab-container {
		padding-top: 15px;
	}
	.infrastructure {
		padding-bottom: 40px;
	}
	.gallery {
		padding-top: 40px;
	}
	.footer__content {
		display: none;
	}
	.section-bottom {
		background-position: center top -400px;
		background-color: #101b0d;
	}
	.footer__title {
		padding: 10px 0;
		border-bottom: 1px solid #fff;
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 0;
	}
	.footer__title i {
		display: inline-block;
		transition: all 0.3s;
	}
	.footer__title.active i {
		transform: rotate(45deg);
	}
	.footer__bottom .row > div {
		padding-top: 10px;
		padding-bottom: 10px;
		text-align: center;
	}
	.form-page .title-middle {
		margin-bottom: 20px;
	}
	.item-form {
		margin-bottom: 20px;
	}
	.checkbox-right {
		justify-content: center;
	}
	.section-bottom {
		padding-top: 30px;
	}
	.item-form__title {
		font-size: 13px;
		padding-bottom: 7px;
	}
	.tour .title-section {
		font-size: 22px;
	}
	.item-gallery {
		width: 350px;
		height: 250px;
	}
	.slider-infrastructure__content::before,
	.slider-infrastructure__content {
		margin-bottom: 0;
		border-bottom-left-radius: 0px;
		border-bottom-right-radius: 0px;
	}
	.slider-infrastructure__image img,
	.slider-infrastructure__image {
		border-top-left-radius: 0px;
		border-top-right-radius: 0px;
	}
	.slider-infrastructure__content::before {
		bottom: 0;
	}
	.slider-infrastructure__image {
		border-top: none;
		border-color: rgb(234 234 234);
		border-width: 6px;
	}
	.col_pr {
		padding-right: 15px;
	}
	.footer__content {
		padding-top: 15px;
	}
	.list-check {
		font-size: 17px;
	}
	.gift__center {
		display: block;
	}
	.location-map {
		transform: scale(0.4);
		transform-origin: 51% 10%;
		margin-bottom: 0;
	}
	.location-map::after {
		display: block;
	}
	.location-map {
		margin-bottom: -443px;
	}
	.item-location__content {
		transform: scale(1.4);
		transform-origin: 162% 90%;
	}
	.item-location {
		z-index: 3;
	}
	.location::after {
		height: 1470px;
	}
	.logo-title {
		margin-bottom: 25px;
	}
	.layout-block {
		transform: scale(0.3);
		transform-origin: 50% 0%;
	}
	.layout-wrap {
		margin-bottom: -580px;
	}
	.title-section sup {
		font-size: 16px;
	}
	.slider-nav__item {
		height: 105px;
	}
	.row_facilities > div {
		margin-top: 25px;
	}
	.income-block {
		margin: 0 auto;
		width: 300px;
	}
	.income .btn-main {
		margin: 0 auto;
		margin-top: 25px;
	}
	.income__laptop {
		display: none;
	}
	.income {
		padding-bottom: 0;
	}
	.doc-item {
		display: none;
	}
	.gift {
		padding-top: 40px;
	}
	.layout-modal__image {
		height: 310px;
		margin-bottom: 20px;
	}
	.layout-modal__title {
		font-size: 20px;
		padding-bottom: 11px;
	}
	.layout-modal__area strong {
		font-size: 16px;
	}
	.layout-modal__area {
		margin-bottom: 15px;
	}
	.layout__feature {
		margin-bottom: 10px;
	}
	.row_facilities {
		margin-right: -15px;
	}
	.row_facilities .slick-track {
		display: flex !important;
	}
	.row_facilities .slick-slide {
		width: 300px;
		display: flex;
		height: inherit !important;
	}
	.infrastructure__branch {
		display: none;
	}
	.btn-main_hidenmob {
		display: none !important;
	}
	.form-page .btn-main {
		height: 60px;
	}
	.mob-contacts {
		display: block;
	}
	.hidden_mob {
		display: none !important;
	}
	.footer__bottom {
		border: none;
	}
	.footer .phone-main {
			font-size: 15px;
			margin-bottom: 15px;
	} 
	.footer li {
		margin-bottom: 15px;
	}
	.footer .logo-descr {
		margin-bottom: 15px;
	}
	.page-numbers {
		width: 60px;
		height: 50px;
		font-size: 16px;
	}
	.news {
		padding-bottom: 30px;
	}
	.article-block ul li::before {
		left: 0;
	}
	.article-block li {
		padding-left: 25px;
	}
	.article-block ol li::before {
		left: 0;
	}
	.sidebar-news .item-news__image {
		height: 176px;
	}
	.article {
		padding-bottom: 30px;
	}
	.layout-modal__right {
		padding-left: 0;
		padding-right: 20px;
	}
	.layout-modal__bottom .link-page {
		font-size: 13px;
	}
	.layout-modal__bottom .btn-main {
		margin-bottom: 7px;
	}
	.layout-modal__area {
			margin-bottom: 10px;
			font-size: 12px;
	}
	.layout-modal__area strong {
			font-size: 14px;
	}
	.layout-modal__area strong sup {
			font-size: 9px;
	}
	.layout-modal__title {
			font-size: 17px;
			padding-bottom: 8px;
	}
	.layout-modal__close {
		font-size: 17px;
		top: 5px;
		right: 5px;
	}
	.layout-modal__image {
		height: 275px;
		margin-bottom: 5px;
	}
	.layout__feature {
			margin-bottom: 6px;
	}
	.room {
		min-height: 400px;
	}
	.room + .designs {
		padding-bottom: 40px;
	}
	.btn-main_p-t,
	.item-form textarea {
		margin-top: inherit;
	}
	.choose-layout__items {
		grid-template-columns: 1fr;
	}
	.choose-layout__item {
		max-width: 100%;
		width: auto;
	}
	.info-box__rooms {
		height: auto;
	}
	.choose-layout {
    padding: 20px 0;
	}
	.choose-layout__items {
    margin-top: 20px;
	}
	.item__img-box {
    padding: 50px 10px 10px;
	}
	.item__img-box span {
    top: 10px;
    left: 20px;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.logo img {
		width: 105px;
	}
	.header .logo-descr {
		display: none;
	}
	.title-big {
		font-size: 30px;
	}
	.descr-big {
		font-size: 16px;
		padding-top: 14px;
		line-height: 24px;
		max-width: 462px;
	}
	.billbord__buttons .btn-main {
		width: 100%;
		max-width: 300px;
		margin-top: 15px;
	}
	.item-billbord {
		font-size: 14px;
		padding-left: 13px;
		height: 100px;
	}
	.item-billbord__title {
		font-size: 17px;
		padding-bottom: 4px;
	}
	.slider-billbord {
		margin: 0 -5px;
		margin-right: -15px;
	}
	.title-section {
		font-size: 24px;
	}
	.layout-block {
		transform: scale(0.23);
		transform-origin: 50% 0%;
	}
	.layout-wrap {
		margin-bottom: -650px;
	}
	.slider-for__item {
		height: 287px;
	}
	.slider-nav__item {
		height: 78px;
	}
	.facilities {
		padding-top: 40px;
		padding-bottom: 45px;
	}
	.income-block {
		padding-top: 20px;
		height: 300px;
		width: 260px;
	}
	.income .btn-main {
		width: 300px;
	}
	.income-block__title {
		font-size: 28px;
	}
	.income-block__title strong {
		display: block;
	}
	.income-block__value {
		font-size: 54px;
	}
	.income-block__descr { 
		font-size: 19px;
	}
	.income {
		padding-top: 40px;
		padding-bottom: 25px;
	}
	.list-check li {
		margin-bottom: 20px;
	}
	.income .list-check {
		margin-top: 30px;
	}
	.layout {
		padding-top: 35px;
	}
	.location-map {
		margin-bottom: -539px;
		transform: scale(0.27);
	}
	.item-location__pin {
		transform: scale(1.5);
	}
	.item-location__content {
		transform: scale(1.7);
		transform-origin: 132% 106%;
	}
	.location .descr-section {
		font-size: 14px;
	}
	.page-numbers {
		margin: 0 5px;
	}
	.sidebar-news {
		padding: 20px 15px;
	}
	.article-block ol li::before {
		font-size: 16px;
	}
	.article-block {
		padding: 20px 15px;
	}
	.layout-modal {
    top: 0;
    width: 480px;
    max-width: initial;
    transform: scale(0.7);
    left: 50%;
    transform-origin: -118% 20%;
	}
	.room {
			min-height: 373px;
	}
	.desc-text {
		margin-bottom: 20px !important;
	}
	.title-big_m-b {
    margin-bottom: 25px;
		font-size: 25px;
	}
	.contacts-container {
    left: -170px;
	}
	.contacts-map {
    height: 250px;
	}
	.item__btn-box {
		flex-direction: column;
		gap: 10px;
	}
	.item__btn-box .btn-main {
    width: 248px;
	}
	.item__img-box {
    height: 200px;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	.footer__content {
		display: block !important;
	}
	.tabs  li {
		display: block !important;
	}
	.btn-main_showmob,
	.tabs-btn {
		display: none !important;
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	
}

@media (min-width : 1200px) and (max-width: 1740px) {
	.container {
		max-width: 100%;
		padding: 0 75px;
	}
	
}

@media (min-width: 1740px) {
	.container {
		max-width: 1620px;
	}
}
@media (min-width: 1940px) {
	.billbord {
		background-position: center top;
	}
}